#sale {
    height: 485px;
    margin-top: 100px;
    margin-right: -58px;
    position: relative;
}

#rims{
    height: 500px;
}

.rims-container{
    width: fit-content;
    margin-left: 430px;
    cursor: pointer;
}

.shop-now {
    position: absolute;
    right: 0;
    bottom: 0;
}

#toemi{
    height: 450px
}

.toemi{
    width: fit-content;;
    margin: auto;
    margin-right: 500px;
    padding-bottom: 0;
}

